*{
    box-sizing: border-box;
    // border: 1px solid red
    font-size: small
};

$lightgray: rgb(248, 248, 248);
$grayhover: rgba(248, 248, 248, 0.5);
$dark: rgb(48, 48, 48);
$darkhover: rgba(48, 48, 48, 0.5);
$blue: rgb(111, 111, 255);
$bluehover: rgba(111, 111, 255, 0.5);

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0
};

nav{
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        background-color: $darkhover;
        .nav-item{
            display: inline-block;
            margin: 0;
            padding: 0;
            .nav-link{
                display: block;
                padding: 15px 30px;
                margin: 0;
                text-decoration: none;
                color: white;
                &:hover{
                    background-color: $dark;
                }
            }
        }
    }
}

.content{
    width: 100%;
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        .card{
            flex: 25%;
            // padding: 10px;
            flex-direction: row;
            margin: 15px;
            border-radius: 5px;
            box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.3);
            overflow: hidden;
            position: relative;
            .card-image{
                width: 100%;
            }
            [class*=card-body]{
                padding: 15px;
                display: none;
                position: absolute;
                color: $darkhover;
            }
            .card-footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 15px;
                a{
                    text-decoration: none;
                    color: darkslategray;
                    &+a{
                        margin-left: 10px;
                    }
                }
                .material-icons{
                    cursor: pointer;
                }
            }
            // &:hover .card-body{
            //     position: relative;
            //     display: block;
            // }
        }
    }
}